.preloader 
    .preloader_number
            .preloader_number_text 
                span#number  0 
    .preloader_text#brand_text.fadeOutSelector Front-end Developer
    .preloader_brand#brand_text.fadeOutSelector Ali Khalouf
    .preloader_start.star.star-1.fadeOutSelector
        img(data-src="./thin.svg", alt="star")
    .preloader_start.star.star-2.fadeOutSelector
        img(data-src="./wide.svg", alt="star")
    .preloader_start.star.star-3.fadeOutSelector
        img(data-src="./4.svg", alt="star")
    .preloader_start.star.star-4.fadeOutSelector
        img(data-src="./thin.svg", alt="star")